img
{
  height: 10%;
  width: 10%;

}

body {
  background: #bfbfbf; 
   font-family: "Palatino Linotype",  serif;
     line-height: 32px;
     font-size: 18px;
     margin: 0;
    text-align: center;
}
