.text1
{
    background-color: #d3f1ff;
 
    font-family:Comic Sans MS, Comic Sans, cursive ;
    font-size: 50px;
    color: Black;
}
.text2
{
    background-color: #2817ff;

    font-family: Helvetica, sans-serif;
    font-size: 70px;
    color: #faf518;
}
.text3
{
    background-color: #ff0f03;
    font-family: Courier New, monospace;
    font-style: italic;
    font-size: 90px;
    color: #1bfadb;
}
.text1:hover
{
    background-color: #8eff96;
}
.text2:hover
{
    background-color: #fffa1c;
}
.text3:hover
{
    background-color: #ff7193;
}
