.text1
{
    background-color: #d3f1ff;
 
    font-family:Comic Sans MS, Comic Sans, cursive ;
    font-size: 70px;
    color: Black;
}
.text2
{
    background-color: #2817ff;

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    color: ##eb0e6e;
}
.text3
{
    background-color: #ff0f03;
    font-family: Courier New, monospace;
    font-style: italic;
    font-size: 60px;
    color: #000000;
}
.text1:hover
{
    background-color: #8eff96;
}
.text2:hover
{
    background-color: #eeff00;
}
.text3:hover
{
    background-color: #be09eb;
}
