body {
   background: #fff;
}

h1 {
   text-align: center;
}

.bord1{
 border: 4px inset Gold;
 font-size: 20px;
 background-color: #FFD700;
}

.black{
 background: #000000;
}
.white{
 background: #e5e5e5;
}
th, td {
 width: 5em; 
 height: 5em; 
 text-align: right;
}
