body{
    background-color: abb0af;
}

.tabli {
   text-align: center;
   margin-left:30%;
   background-color: #ff00e5;
   border: 4px solid black;
   font-size:80%;
}
.week {
   background:#00ff2a;
}
td, th {
  padding-top:1%;
  padding-bottom:1%;
  border: 4px solid black;
}
td {
  font-size:150%;
}

/*odd
Все нечетные номера элементов.
even
Все четные номера элементов.*/

tr:nth-child(even) {
    background-color: #278505;
    color:#61ffff;
}

tr:nth-child(odd) {
    background-color: #61ffff;
    color: #278505;
}

img{
    width: 400px;
    height: 400px;
}
.kar
{
    font-size: 50px;
    margin-left: 8%;
    float: left;
}
.tab
{
    font-size: 50px;
    float: left;
    margin-left: 20%;
}
.text
{
    font-size: 50px;
    float: left;
    margin-left: 20%;
}
p.size
{
    font-size: 35px;
    text-align: center;
}
p:first-letter
{
    font-size: 70px;
    color: #ffe500;
}
.kartinka{
    background-color: blue;
    border: 5px #00ffe1 solid;
    width: 30%;
    padding-top:10%;
}
.kartinka {
    display: none;
}
.kartinka:target {
    display: block;
}
.tabl_style
{
    background-color: #9dff00;
    border: 5px #00ffe1 solid;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin: auto;
}
.tabli
{
    display: none;
}
.tabli:target
{
    display: block;
}
.textt {
    display: none;
}
.textt:target {
    display: block;
}
.text_style {
    background-color: #9d00ff;
    border: 5px #00ffe1 solid;
    margin-left: 60%;
    padding-left:5%;
    padding-top:10%;
}